<h1>View-Area 4:3</h1>

<h2>Image 1:1</h2>
<ngx-ratio-image [src]="image1to1" [width]="800" [height]="450"></ngx-ratio-image>

<hr />

<h2>Image 3:4</h2>
<ngx-ratio-image [src]="image3to4" [width]="800" [height]="450"></ngx-ratio-image>

<hr />

<h2>Image 4:3</h2>
<ngx-ratio-image [src]="image4to3" [width]="800" [height]="600"></ngx-ratio-image>

<hr />

<h1>16:9 View-Area</h1>

<h2>Image 4:3 (with debug)</h2>
<ngx-ratio-image [src]="image4to3" [width]="800" [height]="450" [debug]="true"></ngx-ratio-image>

<h2>Online Resource</h2>
<ngx-ratio-image [src]="'https://dummyimage.com/800x600'" [width]="800" [height]="450"></ngx-ratio-image>
